<div class="d-flex justify-content-center">
    <h1>Presentacion</h1>
</div>
<div class="container justify-content-center">
    <div class="d-flex justify-content-center">
        <h3>Arnau</h3>
    </div>
    <div class="row justify-content-around">
        <div class="col">
            <img src="https://avatars.githubusercontent.com/u/75489909?v=4" width="200" height="200"
                class="rounded float-start" alt=""><br>
        </div>
        <div class="col">
            <p>Hola som el Arnau i el Luis</p>
            <p>Hola som el Arnau i el Luis</p>
            <p>Hola som el Arnau i el Luis</p>
        </div>
    </div>
</div>
<hr class="border border-danger border-2 opacity-50">
<div class="container justify-content-center">
    <div class="d-flex justify-content-center">
        <h3>Luis</h3>
    </div>
    <div class="row justify-content-around">
        <div class="col">
            <img src="https://avatars.githubusercontent.com/u/100084868?v=4" width="200" height="200"
                class="rounded float-start" alt=""><br>
        </div>
        <div class="col">
            <p>Hola som el Arnau i el Luis</p>
            <p>Hola som el Arnau i el Luis</p>
            <p>Hola som el Arnau i el Luis</p>
        </div>
    </div>
</div>