<div class="d-flex justify-content-center">
    <h1>Motivacio</h1>
</div>
<div class="container justify-content-center">
    <p>Hola som el Arnau i el Luis</p>
    <p>La nostra practica va sobre una ong d'adopcio d'animals tant exotics com normals</p>
    <p>La nostra motivacio parteix de que ens agraden molt els animals i voldriem tenir una ong</p>
    <ul class="list-unstyled">
        <li>Arnau task</li>
        <ul>
            <li>Server</li>
            <li>Services</li>
            <li>Guards</li>
            <li>Backend</li>
        </ul>
        <li>Luis task</li>
        <ul>
            <li>Model</li>
            <li>Frontend</li>
            <li>BBDD</li>
        </ul>
    </ul>
</div>