<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Cantidad</th>
                <th>Familia</th>
                <th>Alimentacion</th>
                <th>Habitat</th>
                <th *ngIf="findcookie() && findcookies()">Adoptar</th>
            </tr>
            <tr *ngFor="let animal of arranimals | paginate: { itemsPerPage: total, currentPage: cp } ">
                <td>{{animal.nombre}}</td>
                <td>{{animal.especie}}</td>
                <td>{{animal.cantidad}}</td>
                <td>{{animal.familia}}</td>
                <td>{{animal.alimentacion}}</td>
                <td>{{animal.habitat}}</td>
                <td *ngIf="findcookie() && findcookies()"><button type="button" class="btn btn-success">Adopt</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="cp = $event"></pagination-controls>
</div>