<div class="d-flex justify-content-center">
    <form [formGroup]="formupdateanimal" (ngSubmit)="submitanimaltoupdate()">
        Que animal quieres actualizar:
        <select formControlName="animal_to_update" name="animal_to_update" id="">
            <option *ngFor="let a of arrayanimals" value="{{a.nombre}}" selected>{{a.nombre}}</option>
        </select>
        <button type="submit" class="btn" [disabled]="formupdateanimal.invalid">SEND</button>
    </form>

</div>
<div class="d-flex justify-content-center">
    <form [formGroup]="formaseeanimal" (ngSubmit)="submitupdateanimal()">
        <div class="mt-2 row g-3 row-cols-4">

            <div class="col">
                <label>Nombre</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="nombre" value="{{animaltomodifi.nombre}}"
                    readonly>
            </div>
            <div class="col">
                <label>Especie</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="especie" [(ngModel)]="animaltomodifi.especie" value="{{animaltomodifi.especie}}">
            </div>
            <div class="col">
                <label>Cantidad</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="cantidad" [(ngModel)]="animaltomodifi.cantidad" value="{{animaltomodifi.cantidad}}">
            </div>
            <div class="col">
                <label>Familia</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="familia" [(ngModel)]="animaltomodifi.familia" value="{{animaltomodifi.familia}}">
            </div>
            <div class="col">
                <label>Alimentacion</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="alimentacion"
                [(ngModel)]="animaltomodifi.alimentacion" value="{{animaltomodifi.alimentacion}}">
            </div>
            <div class="col">
                <label>Habitat</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" formControlName="habitat" [(ngModel)]="animaltomodifi.habitat" value="{{animaltomodifi.habitat}}">
            </div>
        </div>
        <button type="submit" class="btn">SEND</button>
    </form>
</div>