<!DOCTYPE html>
<html lang="en">
<head>
  <title>menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-expand-md ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Practica</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/presentacion">Presentacion</a></li>
      <li><a routerLink="/login">Logout</a> </li>
      <li><a routerLink="/motivacio">Motivacio</a></li>
      <li><a routerLink="/tabla">Tabla</a></li>
      <li><a routerLink="/newanimal">Add animal</a></li>
      <li><a routerLink="/deleteanimal">Delete anaimal</a></li>
      <li><a routerLink="/updateanimal">Update animal</a></li>
    </ul>
  </div>
</nav>
  <router-outlet></router-outlet>
</body>
